################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/services/out/production/send_requests
